.task-summary-page {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.summary-container {
  display: flex;
  justify-content: space-between;
}

.summary-item {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.h3 {
  margin-bottom: 5px;
  color: green;
  
}

.visualization-container {
  margin-top: 20px;
}

/* Add more styling for visualization components as needed */
.summary-head{
  color: black;
  font-family: "Space Grotesk", sans-serif;
  
  padding-top: 30px;
  padding-bottom: 10px;
}
.task-item{
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  padding: 8px;
  list-style: none;
}